<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Include/Easyui/jquery.min.js"></script>
    <script src="~/Include/Easyui/jquery.easyui.min.js"></script>
    <script src="~/Include/Easyui/locale/easyui-lang-zh_CN.js"></script>
    <link href="~/Include/Easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Include/Easyui/themes/icon.css" rel="stylesheet" />
</head>
<body class="easyui-layout">
    @RenderBody()
</body>
</html>
